<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip"/>
    <package id="adobeair" />
    <package id="adobereader" />
	<package id="amd-ryzen-chipset" />
    <package id="anydesk" />
	<package id="audacity" />
	<package id="autohotkey" />
    <package id="autoruns" />
	<package id="discord" />
    <package id="docker" />
    <package id="docker-compose" />
	<package id="epicgameslauncher" />
    <package id="filezilla" />
    <package id="git" />
    <package id="gitkraken" />
    <package id="googlechrome" />
	<package id="google-drive-file-stream" />
	<package id="minecraft" />
    <package id="nodejs-lts" />
    <package id="notepadplusplus" />
    <package id="office365proplus" />
    <package id="openjdk" />
	<package id="origin" />
    <package id="powershell" />
    <package id="powershell-core" />
    <package id="procexp" />
    <package id="procmon" />
    <package id="python3" />
    <package id="ruby" />
    <package id="sharex" />
    <package id="silverlight" />
    <package id="spotify" />
    <package id="steam" />
    <package id="sysinternals" />
    <package id="treesizefree" />
	<package id="uplay" />
	<package id="vlc" />
    <package id="vscode" />
    <package id="vscode-powershell" />
    <package id="windbg" />
    <package id="wsl-ubuntu-1804" />
    <package id="wireshark" />
</packages>
